<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>产品管理</title>
    <link rel="stylesheet" href="//cdn.c3w.com.cn/css/weui.min.css" />
</head>

<body>

    <div class="weui-cells__title">功能</div>
    <div class="weui-cells">


        <div class="weui-cell weui-cell_access" onclick="location.href='/product/index/product_list'">
            <div class="weui-cell__bd">
                <span style="vertical-align: middle">产品管理</span>
                <span class="weui-badge" style="margin-left: 5px;">{$pro_num}</span>
            </div>
            <div class="weui-cell__ft"></div>
        </div>


    </div>

    <div class="weui-cells__title">手机膜</div>
    <div class="weui-cells">

        <div class="weui-cell weui-cell_access" onclick="location.href='/product/shoujimo/index'">
            <div class="weui-cell__bd">
                <span style="vertical-align: middle">手机膜管理</span>
                <!-- <span class="weui-badge" style="margin-left: 5px;"></span> -->
            </div>
            <div class="weui-cell__ft"></div>
        </div>


    </div>



</body>

</html>